{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Password Reset Confirm</title>
<style>
    body {
        width: 100vw;
        height: 100vh;
    }
</style>
{% endblock head %}

{% block body %}
<div class="w-100 h-100 container d-flex justify-content-center align-items-center flex-column">
    <form class="col-sm-4" action="" method="post">
        {% csrf_token %}
        <a href="{% url 'note:index' %}" class="text-reset text-decoration-none">
            <h1 class="text-center text-white py-2 bg-secondary rounded">NoteTaker</h1>
        </a>

        {% if form.errors %}
            <div class="alert alert-danger p-1">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% for field in form %}
        <div class="form-group my-2">
            {{ field }}
            {% if field.help_text %}
            <small class="form-text ms-2">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <input class="btn btn-primary w-100" type="submit" value="Reset Password">
    </form>
</div>
{% endblock body %}
