{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Password Reset Complete</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
        }
    </style>
{% endblock head %}

{% block body %}
{% include 'nav.html' %}
<div class="container w-100 h-50 d-flex justify-content-center align-items-center flex-column">
    <div class="alert alert-success">Sucessfully Reset your password!</div>
    <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
</div>
{% endblock body %}
