{% extends "base.html" %}
{% load static %}


{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{% static '/note/css/login.css' %}">
{% endblock head %}


{% block body %}
{% include "note/nav.html" %}
<div class="container w-100 h-100 d-flex justify-content-center align-items-center flex-column">
    <form class="col-sm-4" action="" method="post">
        {% csrf_token %}
        <h1 class="text-center text-white py-2 bg-secondary rounded">Take note</h1>
        {% if form.errors %}
            <div class="alert alert-danger p-1">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group my-2">
            {{field}}
            {% if field.help_text %}
            <small class="form-text ms-2">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <input class="btn btn-primary w-100" type="submit" value="Take Note">
    </form>
</div>
{% endblock body %}
