{% extends "base.html" %}
{% load static %}


{% block head %}
<title>TakeNote</title>
{% endblock head %}


{% block body %}
{% include "nav.html" %}
<div class="container mt-5 d-flex justify-content-center align-items-center flex-column">
    <form class="col-sm-4" action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger p-1">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group my-2">
            {{field}}
            {% if field.help_text %}
            <small class="form-text ms-2">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <input class="my-2 btn btn-primary w-100" type="submit" value="Take Note">
        <a class="btn btn-danger w-100"  href="{% url 'note:index' %}">
            Cancel
        </a>
    </form>
</div>
{% endblock body %}
