<nav class="navbar navbar-light bg-secondary ">
    <a class="navbar-brand text-white mx-4" href="{% url 'note:index' %}"><h4>NoteTaker</h4></a>
    <a class="btn btn-warning" href="{% url 'note:takenote' %}">
        <i class="fa-sharp fa-solid fa-file-pen"></i>Take Note
    </a>

    {% if request.user.is_authenticated %}
        <div class="d-flex flex-row align-items-center">
            <a href="{% url 'users:profile' %}">
                <img width="28" height="28" class="border rounded-circle" src="{{ user.profile.image.url }}" alt="">
            </a>
            <form class="mx-3" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <input class="btn btn-sm btn-primary" type="submit" value="Logout">
            </form>
        </div>
        {% else %}
            {% if request.resolver_match.url_name == 'password_reset_complete' %}
            <div class="d-flex flex-row align-items-center invisible">
            {% endif %}
            <div class="d-flex flex-row align-items-center">
                <a class="btn btn-sm btn-light" href="{% url 'users:login' %}">Login</a>
                <a class="mx-3 btn btn-sm btn-primary" href="{% url 'users:signup' %}">Signup</a>
            </div>
    {% endif %}
</nav>